.dashboard-card{
  max-width: 100%;
  margin: 0 auto;
}

.signatory-card {
  background-color: white;
  border-width: 2px;
}

.proj-status {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 100%;
  min-height: 500px;
  border-width: 2px;
}


.proj-progress {
  background-color: #1A2CA3;
  max-width: 100%; 
  min-height: 500px; 
  border-width: 2px;
}

.progress-bar {
  max-width:92%;
}